body {
  width: 960px;
  margin: 0 auto;
  font-family: Roboto, sans-serif;
}

.about-page .icon.icon-link {
  background-image: url('~assets/svg/icon-hashtag.svg');
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
}